<!DOCTYPE html><html><head><meta charset="utf-8"></head><body><h1>		Научно- образовательная школа под руководством Владимира Васильевича Макарова.</h1><p>		Под руководством проф. В.В. Макарова на кафедре создана научно-образовательная школа (НОШ) по исследованию 
		проблем инновационного развития инфокоммуникаций и повышения качества услуг на предприятиях связи. 
		По тематике НОШ проводятся научно-исследовательские работы, в которых активное участие принимают аспиранты и студенты,
		ежегодно преподаватели, докторанты, аспиранты и студенты кафедры публикуют 7-10 статей в ведущих журналах, 
		в том числе рекомендованных ВАК РФ, выступают на Международных и Всероссийских конференциях и на НТК СПб ГУТ.</p><p>		На кафедре, под руководством В.В. Макарова регулярно проводятся научные семинары, как правило, в рамках предварительных защит 
		или обсуждения хода работ над диссертациями аспирантов и докторантов. В настоящее время обучение в аспирантуре под руководством 
		проф. В.В. Макарова проходят 11 человек. Всего под его научным руководством подготовлены 2 доктора и 37 кандидатов экономических
		и технических наук.
		Востребованность научного потенциала профессора В.В. Макарова подтверждается его регулярным приглашением на научные и 
		практические форумы, конференции и семинары, в том числе за рубежом, а также для чтения лекций на факультете повышения 
		квалификации при СПбГУТ. Профессор В.В. Макаров является      членом двух диссертационных советов в университетах Москвы 
		и Санкт-Петербурга, председателем ГАК по присуждению учёной степени магистра, специалиста и бакалавра в СПбГЭУ,
		членом редакционной коллегии Российского гуманитарного журнала.</p></body></html>